.checkout-container {
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .checkout-container .shipping-details {
    margin-top: 2rem;
  }
  
  .checkout-container .shipping-details input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
  }
  
  button {
    padding: 0.8rem;
    background-color: #e72929;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cc2525;
  }
  